
.buttonData {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr 1fr .5fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.error {
  color: white;
  background-Color: #B42E2E;
}

.ack {
  color: black;
  background-Color: #FFD433;
}

.defaultStatus {
  color: black;
  background-Color: #ffffff;
}

